<div class="toolbar-container">
  <div class="toolbar">
    <!-- Map Tools -->
    <button pButton 
            type="button" 
            icon="pi pi-map" 
            class="p-button-text toolbar-btn"
            pTooltip="Map View"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-search" 
            class="p-button-text toolbar-btn"
            pTooltip="Search"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-map-marker" 
            class="p-button-text toolbar-btn"
            pTooltip="Add Marker"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-compass" 
            class="p-button-text toolbar-btn"
            pTooltip="Navigation"
            tooltipPosition="right">
    </button>
    
    <div class="toolbar-separator"></div>
    
    <!-- Layer Controls -->
    <button pButton 
            type="button" 
            icon="pi pi-clone" 
            class="p-button-text toolbar-btn"
            pTooltip="Layers"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-globe" 
            class="p-button-text toolbar-btn"
            pTooltip="Satellite View"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-car" 
            class="p-button-text toolbar-btn"
            pTooltip="Traffic"
            tooltipPosition="right">
    </button>
    
    <div class="toolbar-separator"></div>
    
    <!-- Measurement Tools -->
    <button pButton 
            type="button" 
            icon="pi pi-pencil" 
            class="p-button-text toolbar-btn"
            pTooltip="Draw"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-minus" 
            class="p-button-text toolbar-btn"
            pTooltip="Measure Distance"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-stop" 
            class="p-button-text toolbar-btn"
            pTooltip="Measure Area"
            tooltipPosition="right">
    </button>
    
    <div class="toolbar-separator"></div>
    
    <!-- Location Tools -->
    <button pButton 
            type="button" 
            icon="pi pi-bullseye" 
            class="p-button-text toolbar-btn"
            pTooltip="My Location"
            tooltipPosition="right">
    </button>
    
    <button pButton 
            type="button" 
            icon="pi pi-home" 
            class="p-button-text toolbar-btn"
            pTooltip="Home"
            tooltipPosition="right">
    </button>
  </div>
</div>